.main {
  flex: 1;
  max-width: 75vw; 
  margin: 0 auto;
  padding: 0 1.6rem;
  display: flex;
  align-items: center;
}

.hero {
  display: flex;
  justify-content: center;
  width: 100%;
}
 
.hero-content {
  flex: 2;
  align-self: center;
}

.hero-content h1 {
  font-size: 4.8rem;
  line-height: 1.2;
  margin-bottom: 1.4rem;
  text-wrap: wrap;
}

.hero-content p {
  font-size: 2rem;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 3.2rem;
  max-width: 60rem;
}

.hero-button {
  background: white;
  color: black;
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 2.5rem;
  font-weight: 500;
  font-size: 2rem;
  cursor: pointer;
}

.hero-image {
  flex: 1;
  align-items: end;
  display: flex;
  min-height: 50rem;
}

.hero-image img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    gap: 3.2rem
  }

  .hero-content h1 {
    font-size: 3.5rem;
    padding-left: 0;
  }

  .hero-content p {
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-image {
    min-height: 20rem;
  }

  .hero-button {

    font-size: 1.5rem;
  }
}
