
.content {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
}

.content p {
    text-align: center;
    font-size: 2rem;
}

.content img {
    width: 4rem;
}